body {
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.background {
    background: black;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 768px;
    }
}